.button {
    background: var(--color-accent);
    border-radius: 8px;
    border: none;
    box-shadow: 2px 3px 10px var(--color-accent);
    color: var(--color-text);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .3em;
    width: 100%;
}

.button:hover {
    background: var(--color-text);
    color: var(--color-accent);
}
