.form__controls {
   border: 2px solid var(--color-borders);
   border-radius: 8px;
   box-shadow: 1px 3px 3px var(--color-borders);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    width: 90%;
}

.form__control {
    display: flex;
    flex-direction: column;
    padding: .5em;
    width: 100%;
}

.form__control input,
.form__control button {
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: .3em;
}

.form__control button {
    background: var(--color-accent);
    border: none;
    box-shadow: 2px 3px 10px var(--color-accent);
    color: var(--color-text);
    font-weight: bold;
}

.form__control button:hover {
    opacity: .8;
}

@media (min-width: 920px) {
    .form__controls {
        width: 50%;
    }
}
