.form__controls {
    width: 100%
}

.form__control {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

.form__control input,
.form__control button {
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: .3em;
}

.form__control button {
    background: var(--color-accent);
    border: none;
    box-shadow: 2px 3px 10px var(--color-accent);
    color: var(--color-text);
    font-weight: bold;
}

.form__control button:hover {
    background: var(--color-text);
    color: var(--color-accent);
}


